<div class="drawer-side shadow-sm">
  <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
  <ul class="menu bg-base-100 text-base-content w-64 p-4 h-full overflow-y-auto">
    <!-- Shop name/logo -->
    <li class="mb-4 shop-info">
      <div class="flex flex-col items-left py-4">
        <% if current_shop_logo&.attached? %>
          <%= image_tag current_shop_logo, class: "w-16 h-16 rounded-lg sidebar-logo mb-2" %>
        <% end %>
        <h2 class="text-lg font-semibold shop-name"><%= current_shop&.name %></h2>
      </div>
    </li>

    <!-- Sidebar content here -->
    <li class="mb-4">
      <%= link_to root_path, class: "#{current_page?(root_path) ? 'active' : ''}" do %>
        <%= image_tag "dashboard.png", class: "h-8 w-8" %>
        <%= t('navigation.dashboard') %>
      <% end %>
    </li>
    
    <% if current_user&.owner? %>
      <li class="mb-4">
        <%= link_to customers_path, class: "#{controller_name == 'customers' ? 'active' : ''}" do %>
          <%= image_tag "customers.png", class: "h-8 w-8" %>
          <%= t('navigation.customers') %>
        <% end %>
      </li>
    <% end %>
    
    <li class="mb-4">
      <%= link_to orders_path, class: "#{controller_name == 'orders' ? 'active' : ''}" do %>
        <%= image_tag "order-1.svg", class: "h-8 w-8" %>
        <%= t('navigation.orders') %>
      <% end %>
    </li>
    
    <% if current_user&.owner? %>
      <li class="mb-4">
        <%= link_to measurement_types_path, class: "#{controller_name == 'measurement_types' ? 'active' : ''}" do %>
          <%= image_tag "measurement.svg", class: "h-8 w-8" %>
          <%= t('navigation.measurement_types') %>
        <% end %>
      </li>
    <% end %>

    <% if current_user&.owner? %>
      <li class="mb-4">
        <%= link_to tailors_path, class: "#{controller_name == 'tailors' ? 'active' : ''}" do %>
          <%= image_tag "tailor.png", class: "h-8 w-8" %>
          <%= t('navigation.tailors') %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>